:root{
	--mainColor:#cbaf87;
	--secondaryColor:#b1b493;

	--borderColor:#161914;

	--mainText:#000;
	--secondaryText:#eee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#669966;


}
